.meny {
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, rgba(222, 222, 222, 0.22), rgb(222, 222, 222));
  height: 50px;
  border: 1px solid #cccccc;

}

.meny-majtas {
  text-decoration: none !important;
  padding-top: 15px;
  font-size: 12pt;
}

.meny-majtas a {
  text-decoration: none;
  margin-left: 28px;
  color: #666666;
}

.logo {
  padding-top: 20px;
  padding-bottom: 50px;
}

.container {
  background-color: #fff;
}

.content{
  background-color: #fff;
}

.sllajderi{
 max-width: 960px;
 margin: 0 auto;
}

.fotot{
 float: right;
 max-width: 39%;
 margin-top: 55px;
}

.fotot img {
    margin-right: 16px;
    margin-bottom: 9px;
}
.fotot img:nth-child(even) {
  margin-right: 0px;
}

.img-kryesore {
 float: left;
 max-width: 60%;
 margin-top: 55px;
 border: 1px solid #333;
}

.img-kryesore img{
  vertical-align: top;
  border: 2px solid #fff;
}
.col {
    float: left;
    /* width: 28%; */
    margin-bottom: 16px;
    margin-right: 20px;
    background: #fff;
    border-radius: 14px;
    width: 300px;
    height: 323px;
}
}

.col:last-child {
  margin-right: 0 !important;
}

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        display: block;
    }
}

.korniza {
  border-radius: 10px;
  text-align: center;
}

.korniza img{
  padding: 10px;
}

.korniza-teksti {
    padding: 0 16px;
    background-color: #fff;
}

.korniza-teksti h2{
    line-height: 50px;
}

.korniza-teksti::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
  padding-top: 50px;
  width: 100%;
  background-color: #eee;
}

.inner-row {
  max-width: 960px;
  margin: 0 auto;
}

.row-team {
  padding-top: 50px;
  background color: #fff;
}

.team-details {
  padding-left: 190px;
}

.team-details h2{
  line-height: 50px;
}

.team-details p{
  padding-top: 10px;
}

.team-details input[type="submit"] {
  border: none;
  background-color: #7e5c88;
  color: #fff;
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
}

.team-details input[type="submit"]:hover {
  background-color: #e44238;
}

.col-team {
    float: left;
    width: 43%;
    margin-bottom: 16px;
    padding: 0px 67px 40px 0;
}

@media screen and (max-width: 650px) {
    .col-team {
        width: 100%;
        display: block;
    }
}



/*footer*/

.pre-footer {
  width: 100%;
  height: 350px;
  background-color: #eee;
}  

.clear {
  clear: both;
}

.main-footer {
  float: left;
  width: 225px;
  color: #888;
  margin-right: 20px;
}

.main-footer:last-child {
  margin-right:0;
}

.main-footer h2 {
  margin: 20px 0;
  text-transform: uppercase;
}

.main-footer img {
  border: 5px solid #ccc;
  margin-bottom: 10px;
}

.main-footer a {
  text-decoration: none;

}

.main-footer p {
  max-width: 215px;
  margin-bottom: 10px;
}

.input-group-field {
  border-radius: 5px;
  padding: 6px;
  border: 0;
  background-color: #ddd;
}

button.button2 {
  border: none;
    background-color: #7e5c88;
    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Georgia, serif;
}

.main-footer ul li {
  display: inline-block;
  padding: 0 20px 15px 0;
}

.main-footer ul li i {
  color: #333;
  font-size: 1.6em;
  vertical-align: middle;
  margin-right: 5px;
}
.main-footer ul li a {
  color: #333;
}

.contact input[type="text"], .contact textarea {
  border: 1px solid #e0e0e0;
  padding: 5px;
  width: 225px !important;
  background-color: #dbdbdb;
  border-radius: 6px;

}

.contact input[type="text"]:hover, .contact textarea:hover,
.contact input[type="text"]:focus, .contact textarea:focus {
  border: 1px solid #e44238;
}

.contact #message {
  width: 100%;
  height: 105px;
}

.contact input[type="submit"] {
  border: none;
  background-color: #b7b7b7;
  color: #fff;
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #e44238;
}
